body{background-color : #cff1ef;
     margin : 0;}

.pic1{position : absolute;
  width: 100%;}

.pic2{width : 100%;
  position: relative;
      top : 650px;}

a{position: absolute;
color: white;
text-decoration: none;
margin-top: 15px;
font-family: 'Ubuntu', sans-serif;
font-size: 90%}

.a{left : 700px;
  top:7px;}
.b{left : 800px;
   top: 7px;}
.c{right : 70px;
   top:7px;}
.d{position: absolute;
   width: 3%;
   top:10px;
 right:20px;}
.e{color: #d2fafb;
   position: absolute;
   left: 100px;
   top: 100px;
   font-size: 600%;
   font-family: 'Niconne', cursive;}
 .f{color : #d2fafb;
    position: absolute;
    left : 120px;
    top: 250px;
    font-size: 30px;
    font-family: 'Mali', cursive;
    }
.g{position: absolute;
       width: 200px;
       top: 570px;
       left: 550px;}
.h{position: relative;}
.i{height : 20px;
  background-color: #363062;
  position: absolute;
   top:510px;
  }

 .a:hover{color: #ffd369}
 .b:hover{color: #ffd369}
 .c:hover{color: #ffd369}

p{color: #81f5ff ;
     font-size: 100px;
     font-family: 'Rubik', sans-serif;
}

.p1{display: inline;
    position: absolute;
   left: 100px;}
.p2{display: inline;
 position: absolute;
left:870px;}

.aaa{height:100px;
  width:100%;
  background: rgb(16,22,25);
background: linear-gradient(180deg, rgba(16,22,25,1) 0%, rgba(112,166,202,1) %);
position: absolute;
top:620px;}

.p11{width: 5%;
    top: 840px;
  right:260px;
position: absolute;}
.p22{width: 5%;
  top:840px;
left : 230px;
position: absolute;}
.p33{width: 5%;
  top : 1150px;
right:250px;
position: absolute;}
.p44{width: 5%;
  left : 250px;
top: 1150px;
position: absolute;}
.p55{width : 20%;
left: 470px;
top: 980px;
position: absolute;}

.p3{position: absolute;
left:100px;
display: inline;
top : 885px;
color : #844685;
font-size: 40px;}

.p4{position: absolute;
right:90px;
display: inline;
top : 885px;
color : #844685;
font-size: 40px;}

.p5{position: absolute;
left:135px;
display: inline;
top : 1200px;
color : #721b65;
font-size: 40px;}

.p6{position: absolute;
right:100px;
display: inline;
top : 1200px;
color : #721b65;
font-size: 40px;}

.p7{margin : 100px 0 0 500px;
   color: black;
 font-size: 18px;
}

.last{
  height: 130px;
  background-color: #00a8cc;
  width: 100%;
  top:1410px;
  position: absolute;
}

.fb{width: 30px;
margin-left: 520px;
position: absolute;
top: 30px;
}
.in{
  width: 30px;
  margin-left: 590px;
  position: absolute;
  top: 30px;
}
.tw{
  width: 30px;
  margin-left: 645px;
  position: absolute;
  top: 30px;
}

.yt{
  width: 30px;
  margin-left: 700px;
  position: absolute;
  top: 30px;
}

#fb1{position: absolute;
   top : 0px;
   }

#in1{position: absolute;
 top:0;}

#tw1{position: absolute;
top:0;}

#yt1{position: absolute;
top:0;}
